.header__logo {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 41px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 104px;
        margin-left: 27px;
        margin-bottom: 31px;
    }
}