.link {
    position: relative;
}

.link:hover:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}