.popup__close {
    grid-area: header;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -12%;
    left: 102%;
    padding: 0;
    border: none;
}

.popup__close:hover {
    content: "";
    opacity: 0.6;
}
@media screen and (max-width: 762px) {
    .popup__close {
        top: -10%;
        left: 93%;
    }
}