.card__image {
    width: 100%;
    height: 78%;
    min-width: 282px;
    min-height: 282px;
    border-radius: 10px 10px 0 0;
    background-color: #000000;
    object-position: 50% 50%;
    object-fit: cover;
    overflow: hidden;
    color: white;
    text-indent: 100%;
    transition: all 0.5s ease;
}
.card__image:hover {
    box-shadow: 0 0 15px #000;
    transition: all 0.8s ease;
}
