.card__vector {
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/Group-1.svg);
    color: #000000;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-out;
    background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
    padding: 0;
}

.card__vector:hover {
    content: "";
    opacity: 0.4;
}